
.cell:hover{
    background-color: blueviolet !important;
}

.cell.wall{
    background-color: black !important;
}
.cell.source{
    background-color: red !important;
}
.cell.target{
    background-color: green  !important;
}
