
.cell:hover{
    background-color: blueviolet !important;
}

.cell.wall{
    background-color: black !important;
}
.cell.source{
    background-color: red !important;
}
.cell.target{
    background-color: green  !important;
}

.cell.visiting{
    background-color: blue !important;
    transition: all 1s !important;
}

.cell.done{
    background-color: yellow !important;

}