.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  overflow-y: scroll;

  
}





.cell{
    display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  border:   #222831   !important;
  width: 50px; /* Adjust the width as per your requirements */
  height: 50px; /* Adjust the height as per your requirements */
  background-color: #222831 !important;
  
}
.cell:hover{
    background-color: rgb(73, 58, 87) !important;
}

.cell.wall{
    background-color: #913175 !important;
    transition: all 0.3s;
}
.cell.source{
    background-color: #9ac81e !important;
}
.cell.target{
    background-color: #2F58CD  !important;
}

.cell.visiting {
 background-color: red !important;
 transition: 0.5s all

}
.cell.next{
background-color: #d8ab89 !important;
}
.grid-number {
    pointer-events: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    transition: background-color 2s;
    color: white;
  }
  
  .grid-number p {
    opacity: 0;
    transition: opacity 0.5s;
    margin:  0;
    font-size: 20px;
  }
  
  .grid-number.visible p {
    opacity: 1;
  }


.cell.done{
    background-color: rgb(46, 205, 219) !important;
   transition: all 1s;
}


.slider-container {
  width: 200px; /* Set the desired width of the slider container */
  margin-bottom: 10px; /* Add some bottom margin for spacing */
}

